[Unit]
Description=Thermoberry Mixer Module
After=network.target

[Service]
ExecStart=/usr/bin/env python3 mixer.py logging.level=INFO
WorkingDirectory=${working_dir}
StandardInput=null
StandardOutput=journal+console
User=pi
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target